@using E_SHOP.UI.Models.Home;
@model HomeViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center mb-3 mt-3">
	<h2>Categories</h2>
	<div class="container-category container">
		@foreach (HomeCategoryDTO c in Model.Categories)
		{

			<a asp-controller="Post" asp-action="Get" asp-route-category=@c.Name class="cat-wrap">
				<img class="object-fit-cover cat-img rounded-circle" src=@c.ImgPath>
				<h5>@c.Name</h5>
			</a>
		}
	</div>
</div>

@*Random 9 posts*@
@if (Model.Posts.Count > 0)
{
    <div class="text-center mb-3 mt-3">
        <div class="text-center">
            <h2 class="align-self-center mt-5">You might be interested</h2>
        </div>

        <div class="row">
            @foreach (HomePostDTO p in Model.Posts)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src=@p.ImgPath class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h4 class="card-title">@p.Title</h4>
                            <h5 class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@p.Price @p.Currency</h5>
                            <p class="card-text" style="max-height: 100px; overflow: hidden;">@p.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}