@using OnePrice.UI.Models.ChatDTOs;
@model IEnumerable<ChatDTO>
@{
	ViewData["Title"] = _localizer["Chats"];
}


<div class="row">
	<div class="col-md-4">
		<h2>@_localizer["Chats"]</h2>
		@if (Model.Count() == 0)
		{
			<p>@_localizer["Your chats will be displayed here"]</p>
		}
		else
		{
			<ul class="list-group">
				@foreach (var chat in Model)
				{
					<li class="list-group-item hoverable">
						<a class="text-decoration-none text-black" asp-controller="Chat" asp-action="Private" asp-route-chatId="@chat.ChatId">
							<div class="d-flex align-items-center">
								<img src="@chat.Receiver.ImgPath" class="rounded-circle chat-img mr-2">
								<p class="p-0 m-0">@chat.Receiver.Nickname</p>
							</div>
						</a>
					</li>
				}
			</ul>
		}
	</div>
</div>






