@using Microsoft.AspNetCore.Mvc.Localization;
@using OnePrice.UI.Models.ChatDTOs;

@model ChatViewModel
@inject IViewLocalizer _localizer;
@{
	ViewData["Title"] = Model.Chat.Receiver.Nickname;
}

<div class="row">
	<div class="col-md-4">
		<h2>@_localizer["Chats"]</h2>
		@if (Model?.AvailableChats.Count() == 0)
		{
			<p>@_localizer["Your chats will be displayed here"]</p>
		}
		else
		{
			<ul class="list-group">
				@foreach (var chat in Model.AvailableChats)
				{
					<li class="list-group-item hoverable">
						<a class="text-decoration-none text-black" asp-controller="Chat" asp-action="Private" asp-route-chatId="@chat.ChatId">
							<div class="d-flex align-items-center">
								<img src="@chat.Receiver.ImgPath" class="rounded-circle chat-img mr-2">
								<p class="p-0 m-0">@chat.Receiver.Nickname</p>
							</div>
						</a>
					</li>
				}
			</ul>
		}
	</div>

	<div class="col-md-8">
		<div class="card">
			<div class="card-header bg-grey d-flex align-items-center pb-1 pt-1">
				<img src="@Model.Chat.Receiver.ImgPath" class="rounded-circle chat-img">
				<h4 class="mb-0">@Model.Chat.Receiver.Nickname</h4>
			</div>
			<div class="card-body">

				<ul id="messagesList" class="list-group list-unstyled chat-list">
					@foreach (var message in Model.Chat.Messages)
					{
						<li class="pb-1">
							@if (message.Author.Id == Model.Chat.Sender.Id)
							{
								<div class="d-flex flex-wrap justify-content-end ">
									<div class="bg-sender text-white rounded p-2 max-width-75">
										<span>@message.Content</span>
									</div>
								</div>

								<div class="d-flex flex-wrap justify-content-end mb-2">
									<p class="small m-0 text-right text-muted">@message.CreatedAt.ToLocalTime()</p>
								</div>
							}
							else
							{
								<div class="d-flex flex-wrap justify-content-start">
									<div class="bg-receiver text-white rounded p-2 max-width-75">
										<span>@message.Content</span>
									</div>
								</div>

								<div class="d-flex flex-wrap justify-content-start">
									<p class="small m-0 text-left text-muted">@message.CreatedAt.ToLocalTime()</p>
								</div>
							}
						</li>
					}
				</ul>

				<div class="input-group mb-3 mt-3">
					<input type="text" class="form-control" id="messageInput" placeholder="@_localizer["Write a message..."]">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button" id="sendButton">
							@_localizer["Send"]
						</button>
					</div>

					<input type="hidden" id="chatInput" value="@Model.Chat.ChatId" />
					<input type="hidden" id="senderId" value="@Model.Chat.Sender.Id" />

				</div>
			</div>
		</div>
	</div>

</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/chatscroll.js"></script>