@using OnePrice.Domain.Enums;
@using OnePrice.UI.Models.CommonDTOs;
@using OnePrice.UI.Models.CommonIdDTOs;
@using OnePrice.UI.Models.PostDTOs;
@inject IViewLocalizer Localizer
@model PostAddViewModel
@{
	ViewData["Title"] = Localizer["New post"];
}

<h1>@ViewData["Title"]</h1>
<hr />

@if (ViewData["AddStatus"] != null)
{
	<div id="popup" class="alert alert-success alert-dismissible fade show" role="alert">
		@ViewData["AddStatus"]
	</div>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data" class="form">
	<div class="container-lg mt-5">
		<div class="row">
			<!-- Left box for file input and image preview -->

			<div class="col-lg-6">
				<div class="form-group img-container">
					<input type="file" id="fileInput" name="image" accept="image/*" max="5*1024*1024">
					<div class="prompt-text">Click to choose an image (max 5MB)</div>
					<img id="uploadedImage" src="" class="uploadedImg" >
					<span asp-validation-for="Post.ImgPath" class="text-danger"></span>
				</div>
			</div>



			<!-- Right box for title, description, category, and tags -->
			<div class="col-lg-3">


				<div class="form-group">
					<label asp-for="Post.Title"></label>
					<input asp-for="Post.Title" class="form-control" id="titleInput" />
					<span asp-validation-for="Post.Title" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Post.Description"></label>
					<textarea asp-for="Post.Description" class="form-control s" id="descriptionInput"></textarea>
					<span asp-validation-for="Post.Description" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Post.Price"></label>
					<input asp-for="Post.Price" class="form-control" id="priceInput" />
					<span asp-validation-for="Post.Price" class="text-danger"></span>
				</div>


				<div class="form-group">
					<label for="currencySelect">Currency</label>
					<select class="form-control" asp-for="Post.CurrencyId"
							asp-items="new SelectList(Model.AvailableCurrencies, nameof(CommonIdCurrencyDTO.Id),nameof(CommonIdCurrencyDTO.FullName))">
					</select>
					<span asp-validation-for="Post.CurrencyId" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label for="categorySelect">Category</label>
					<select class="form-control" asp-for="Post.CategoryId"
							asp-items="new SelectList(Model.AvailableCategories, nameof(CommonIdTagDTO.Id),nameof(CommonIdCategoryDTO.Name))">
					</select>
					<span asp-validation-for="Post.CategoryId" class="text-danger"></span>
				</div>




				<div class="form-group">
					<label>Tags</label><br>
					<div class="form-check form-check-inline">

						@foreach (CommonIdTagDTO tag in Model.AvailableTags)
						{
							<div>
								<input id="@tag.Id" class="form-check-input" type="checkbox" name="Post.TagsId" value="@tag.Id" />
								<label class="form-check-label" for=@tag.Id> @tag.Name</label>
							</div>
						}
						<span asp-validation-for="Post.TagsId" class="text-danger"></span>
					</div>
				</div>


				<button type="submit" class="btn btn-primary">Save Changes</button>
				<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back</a>
			</div>
		</div>
	</div>
</form>


@section Scripts{
	<script src="~/js/imagePreview.js"></script>
}



