@using OnePrice.Domain.Enums;
@using OnePrice.UI.Models.CommonDTOs;
@using OnePrice.UI.Models.PostDTOs;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model SearchPostDisplayViewModel
@{
	ViewData["Title"] = _localizer["Posts"];
}

@{
	await Html.RenderPartialAsync("_SearchPartial", Model.Filters);
}

@if (Model.Posts.Count() == 0)
{
	<h1>@_localizer["No posts match your search criteria"]</h1>
	<p>@_localizer["We couldn't find any publications that match your search query"]</p>
	<a href="/">
		@_localizer["Return to the main page"]
	</a>
}


<div class="container-lg mt-5 col-md-12">

	@foreach (PostDisplayDTO p in Model.Posts)
	{
		await Html.RenderPartialAsync("_LongPostPartial", p);
	}

</div>

<div class="justify-content-center align-items-center">
	<p>
		@_localizer["Page {0} of {1}",(Model.Posts.PageCount < Model.Posts.PageNumber ? 0 : Model.Posts.PageNumber), Model.Posts.PageCount]
	</p>


	@Html.PagedListPager(
	Model.Posts,

	page => Url.Action("Posts", new
	{
	page = page,
	search = Model.Filters.Search,
	category = Model.Filters.Category,
	currency= Model.Filters.Currency,
	minPrice= Model.Filters.MinPrice,
	maxPrice=Model.Filters.MaxPrice,
	sortField = Model.Filters.SortField,
	sortOrder = Model.Filters.SortOrder
	}),
	PagedListRenderOptions.Classic
	)

</div>

@section Scripts{
	<script src="~/js/Post/addFavorite.js"></script>
}