@using E_SHOP.UI.Models.PostDTOs;
@model IEnumerable<PostAddDTO>
@{
	ViewData["Title"] = "Posts";
}


@foreach (PostAddDTO p in Model)
{
	<div>
		<p>
			@p.Title
		</p>
		<p>
			@p.Description
		</p>
		<p>
			@p.Price @p.Currency
		</p>
		<p>
			@p.ImgPath
		</p>
		<p>
			
		</p>

	</div>
}
