@using E_SHOP.Domain.Enums;
@using E_SHOP.UI.Models.CommonDTOs;
@using E_SHOP.UI.Models.PostDTOs;
@model FullPostDTO



<div class="container-fluid bg-white">


	<div class="row p-1 m-1">

		<div class="col-lg-4 img-container m-2">
			<img class="img-fluid" src=@Model.ImgPath>
		</div>


		<div class="col-lg-4">
			<div class="  p-2 mb-3 mt-3 rounded-3 bg-off-white">
				<small class="text-muted">Published: @Model.Day @Model.Month @Model.Year, @Model.Hour:@Model.Minute</small>
				<h2 class="mb-0">@Model.Title</h2>
				<h3 class="text-success">@Model.Price @Enum.GetName(typeof(Currency), Model.Currency)</h3>
			</div>

			<div class="p-2 rounded-3 bg-off-white user-info">
				<div class="user-profile-picture">
					<img src=@Model.ImgPath class="img-fluid rounded-circle">
				</div>

				@*TODO: UPDATE AFTER IMPLEMENTING IDENTITY*@
				<div class="user-details">
					<p class="mb-1"><strong>USERNAME_PLACEHOLDER</strong></p>
					<p class="mb-0 text-muted">User since 12 of March, 2011</p>
				</div>

				<!-- Buttons -->
			</div>
			<div class="bg-off-white rounded-3 m-2">
				<div class="mb-2">
					<button class="btn btn-primary w-100 m-1 p-1">Send Message</button>
				</div>
				<div>
					<button class="btn btn-secondary w-100 m-1 p-1">Show contacs</button>
				</div>
			</div>

		</div>


		<div class="  p-1 m-1 rounded-3 bg-off-white">

			<div class="m-2 p-2 ">
				@foreach (CommonTagDTO tag in Model.Tags)
				{
					<span class="badge bg-secondary rounded-pill p-2 m-1">
						@tag.Name
					</span>
				}
			</div>

			<!-- Description -->
			<div class=" m2 p-2">
				<h3 class="m-2 p-2">Description</h3>
				<p class="p-2 m-2">
					@Model.Description
				</p>
				<hr>
				<p class="text-muted p-2  m-2"><small>Id: @Model.Id</small></p>
			</div>
		</div>

		<div id="comments" class="bg-white rounded p-2 m-1">
			<!-- Comment Input -->
			<div class="mb-3 bg-off-white">
				<h3 class="p-2 m-2">
					Leave a comment</h5>
					<textarea class="form-control comment-input m-3" id="commentInput" rows="1" placeholder="Write your comment...">
					</textarea>

					@*redirect to add comment?*@
					<button class="btn btn-primary mb-3 mt-3" onclick="">Submit</button>
			</div>

			<!-- Example comment -->
			<div class="comment bg-off-white rounded p-2 mb-2">
				<div class="d-flex align-items-center">

					<div class="user-profile-picture mr-2">
						@*Replace with USER.ImgPath*@
						<img src="@Model.ImgPath" class="img-fluid rounded-circle">
					</div>

					<div>
						<p class="mb-0"><strong>User1</strong> <small class="text-muted">- DAY MONTH YEAR, HH:MM</small></p>
					</div>
				</div>

				<p class="mb-0 mt-2">COMMENT_TEXT</p>
			</div>

		</div>


	</div>
</div>