@model string

<div class="modal" id="modalPopup">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">@_localizer["Confirm"]</h4>
				<button type="button" class="btn-close"
						data-bs-dismiss="modal" aria-label="@_localizer["Close"]"></button>
			</div>
			<div class="modal-body">
				<pre>@Model</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"
						id="continueBtn">
					@_localizer["Continue"]
				</button>
				<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">
					@_localizer["Cancel"]
				</button>
			</div>

		</div>
	</div>
</div>

