<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - 1Price</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">1Price</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1 ms-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_localizer["Home"]</a>
						</li>

						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Add">@_localizer["New post"]</a>
						</li>
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">@_localizer["Profile"]</a>
						</li>
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Index">@_localizer["Chats"]</a>
						</li>

						@if (User.Identity.IsAuthenticated && User.HasClaim("role", "admin"))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-dark" href="#" id="managementDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									@_localizer["Management"]
								</a>
								<div class="dropdown-menu" aria-labelledby="managementDropdown">
									<a class="dropdown-item" asp-controller="Tag" asp-action="Index">@_localizer["Tags"]</a>
									<a class="dropdown-item" asp-controller="Category" asp-action="Index">@_localizer["Categories"]</a>
									<a class="dropdown-item" asp-controller="Currency" asp-action="Index">@_localizer["Currencies"]</a>
								</div>
							</li>
						}
					</ul>
					<partial class="p-3" name="_LanguagePartial" />
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="pb-3">
		<div class="container-lg position-relative">
			@RenderBody()
		</div>
	</main>

	<button id="scrollUpButton" class="btn"><i class="fas fa-arrow-up"></i></button>

	<footer class="border-top footer text-muted">
		<p> 1-Price </p>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/scrolltotop.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
